{% block content %}
  <form method="POST">
    {% csrf_token %}
    <p>Resetezi Parola?</p>
    {% if validlink %}
      <label>Parola noua</label>
      <input name="new_password1" class="form-control" type="password">

      <label>COnfirma parola</label>
      <input name="new_password2" class="form-control" type="passowrd">

      <button type="submit" class="btn btn-success">Salveaza parola</button>


      {% if form.new_password1.errors %} {{ form.new_password1.errors }}{%endif %}
      {% if form.new_password2.errors %} {{ form.new_password2.errors }}{%endif %}
    {% else %}
      <p>Linkul nu este valid</p>
    {% endif %}
  </form>

{% endblock %}
